.head {
  color: #31708f;
  background-color: #d9edf7;
}

.select {
  color: #8a6d3b;
  background-color: #fcf8e3;
}

.pass {
    color: green;
}

.nopass {
    color: red;
}

th, td {
    padding-right: 20px;
}
